<%- include('../Layout/adminHeader.ejs') %>
    <form action="/admin/editProduct" method="post" enctype="multipart/form-data" id="product-form"
    onsubmit="return validationChecking()">

        <section class="content-main">
            <div class="row">
                <div class="col-12">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <div>
                            <a href='/admin/prdouctList'> <button
                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">cancel</button></a>
                            <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Upload"
                              >

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <input type="hidden" name="product_id" value="<%= product._id %>" >
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" value="<%= product.name %>" name="name" class="form-control" id="product_title">

                                <div class="error-message" style="color: red;" id="product_title-error"></div>

                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4">
                                    <label for="brand" class="form-label">brand</label>
                                    <input type="text" class="form-control"  value="<%= product.brand %>" name="brand" id="product_brand"
                                        placeholder="enter the price">
                                    <div class="error-message" style="color: red;" id="product_brand-error"></div>
                                </div>

                                <div class="col-md-4  mb-3">
                                    <label for="category" class="form-label">category</label>
                                    <select name="category" class="form-control">
                                         <option value="">Select a Category
                                         </option>
                                        <% categories?.forEach(category=> { %>
                                            <option value="<%= category._id %>"  <% if (category._id.toString() === product.category.toString()) { %>disabled selected <% } %> >
                                                <%= category.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <div class="error-message" style="color: red;" id="product_catergory-error"></div>

                                </div>
                               
                                    <div class="col-md-4">
                                        <label for="stock" class="form-label">stock</label>
                                        <input type="number" class="form-control"  value="<%= product.stock %>" name="stock" id="product_stock"
                                            placeholder="enter the stock">
                                        <div class="error-message" style="color: red;" id="product_stock-error"></div>
                                    </div>
    
                            </div>
                        </div>
                    </div> 

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row gx-3">
                                <div class="col-md-4">
                                    <label for="inputPrice" class="form-label">price</label>
                                    <input type="number" class="form-control" value="<%= product.price %>" name="price" id="product_price" placeholder="enter the price">

                                    <div class="error-message" style="color: red;" id="product_price-error"></div>
                                </div>

                                <div class="col-md-4  mb-3">
                                    <label for="discount_price"  class="form-label">Discount Price</label>
                                    <input type="number" name="discount_price"  value="<%= product.discount_price %>" placeholder="Enter the discount_price"
                                    class="form-control" id="product_discount_price">
                                    <div class="error-message" style="color: red;" id="product_discount_price-error"></div>
                                </div>
                            </div>
                            
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Enter Description" name="description"   class="form-control"
                                    rows="4"><%= product.description %></textarea>
                                <div class="error-message" style="color: red;" id="product_description-error"></div>

                            </div>
                        </div>
                    </div> 

                </div>


                <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Picture</h4>
                                </div>
                                <div class="card-body">
                                    <div class=" row d-flex justify-content-around flex-row">
                                        <div class="card col-lg-8 p-2">
                                            <div class="images-container">
                                                <div class="image-preview-container d-flex flex-wrap justify-content-around">

                                                    <% if (product.image && product.image.length > 0) { %>
                                                        <% for (let i = 0; i < product.image.length; i++) { %>
                                                            <div class="image-container border-1 mb-4">
                                                                <input type="checkbox" id="delete-checkbox<%= i %>" name="deletecheckbox" value="<%= i%>">
                                                                <label for="delete-checkbox<%= i %>">Delete</label>
                                                                <img class="image-preview"  src="/assets/imgs/productIMG/<%= product.image[i] %>" alt="Default">
                                                            </div>
                                                        <% } %>
                                                    <% } else{ %>
                                                        <div class="image-container border-1 mb-4">
                                                            <img class="image-preview" style="width: 100px; height: 100px; margin-bottom: 20px;" src="/uploadimage.svg" alt="Default">
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <input class="form-control" name="image"  multiple="multiple" type="file" onchange="displayImages(this)">
                                                <div class="error-message" style="color: red;" id="product_image-error"></div>
                                            </div>                                
                                        </div>
                                        <script>
                                            function displayImages(input) {
                                                const previewContainer = document.querySelector('.image-preview-container');
                                                previewContainer.innerHTML = ''; 
                                        
                                                if (input.files && input.files.length > 0) {
                                                    for (let i = 0; i < input.files.length; i++) {
                                                        const reader = new FileReader();
                                                        reader.onload = function (e) {
                                                            const imagePreview = document.createElement('div');
                                                            imagePreview.classList.add('image-container');
                                                            const img = document.createElement('img');
                                                            img.src = e.target.result;
                                                            img.style.width = '100px';
                                                            img.style.height = '100px';
                                                         
                                                            img.classList.add('image-preview');
                                                            imagePreview.appendChild(img);
                                                            previewContainer.appendChild(imagePreview);
                                                        };
                                                        reader.readAsDataURL(input.files[i]);
                                                    }
                                                } else {
                                                    const defaultImagePreview = document.createElement('div');
                                                    defaultImagePreview.classList.add('image-container');
                                                    const defaultImg = document.createElement('img');
                                                    defaultImg.src = '/uploadimage.svg';
                                                    defaultImg.style.width = '100px';
                                                    defaultImg.style.height = '100px';
                                                  
                                                    defaultImg.classList.add('image-preview');
                                                    defaultImagePreview.appendChild(defaultImg);
                                                    previewContainer.appendChild(defaultImagePreview);
                                                }
                                            }

                                           
                                        </script>
                                    </div>
                                </div>
                            </div> 
                          >
                        </div>

              




                <div id="invalid">
                    <% if (typeof message !=='undefined' && message) { %>
                        <p style="color: rgb(8, 96, 0);" id="message">
                            <%= message %>
                        </p>
                        <% } %>
                                      
                </div>
            </div> <!-- card end// -->
            </div>

            </div>
        </section>
    </form>



    <script>


        function displayImage(imageNumber, input) {
            const preview = document.getElementById(`image-preview${imageNumber}`);

            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
            }
        }
    
    function viewImage(event, imageIndex) {
    const imgView = document.getElementById(`imgView${imageIndex}`);
    imgView.src = URL.createObjectURL(event.target.files[0]);
}







 
function validationChecking() {
        const product_title = document.getElementById("product_title").value;
        const brand = document.getElementById("brand").value;
        const product_category = document.querySelector('select[name="category"]').value.trim();
        const stock = document.getElementById("stock").value;
        const product_price = document.getElementById("product_price").value;
        const discount_price = document.getElementById("discount_price").value;
        const description = document.getElementById("description").value;
    
        const product_title_error = document.getElementById("product_title-error");
        const product_brand_error = document.getElementById("product_brand-error");
        const product_category_error = document.getElementById("product_category-error");
        const stock_error = document.getElementById("product_stock-error");
        const product_price_error= document.getElementById("product_price-error");
        const discount_price_error = document.getElementById("product_discount_price-error");
        const description_error = document.getElementById("product_description-error");
      
      
        
        

        product_title_error.innerHTML = product_title.trim() === "" ? "Please enter product name" : "";
        product_brand_error.innerHTML = product_brand.trim() === "" ? "Please enter product brand" : "";
        product_category_error.innerHTML = product_category.trim() === "" ? "Please enter product category" : "";
        product_stock_error.innerHTML = isNaN(product_stock) || product_stock.trim() === "" || parseFloat(product_stock) < 0 ? "Please enter a valid stock " : "";
        product_price_error.innerHTML = isNaN(product_price) || product_price.trim() === "" || parseFloat(product_price) < 0 ? "Please enter a valid price " : "";
        product_discount_price_error.innerHTML = isNaN(discount_price) || discount_price.trim() === "" || parseFloat(discount_price) < 0 ? "Please enter a valid discount price " : "";
        product_description_error.innerHTML = description.trim() === "" ? "Please enter product description" : "";

       
       
        return !(product_title.trim() === "" || product_brand.trim() === ""|| product_category.trim() === "" || product_stock.trim() === "" || product_price.trim() === ""|| discount_price.trim() === ""|| description.trim() === ""); 
       }


    </script>


    <%- include('../Layout/adminFooter.ejs') %>